@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

body{
    font-family: "Unbounded", sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}



.container-headder{
    width: 100%;
    height: 30vh;
}

.container-bg{
    position: relative;
    background: linear-gradient(90deg, #F28482 0%, #FF8987 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.cir1 , .cir2 , .cir3{
    position: absolute;
    z-index: 0;
   
}

.cir1{
    width: 170px;
    height: auto;
    bottom:0%;
    right: 0%;
}

.cir2{
    width: 180px;
    height: auto;
    bottom:0%;
    left: 0%;
}

.cir3{
    width: 350px;
    height: auto;
    top:0%;
    left: 50%;
}
.container-btn{
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 40px;
    padding-left: 40px;
}
.btn-back{
    width: 153px;
    height: 67px;
    background-color:white ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}
.back{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.backarrow{
    width: 42.76px;
    height: auto;
}

.text-back{
    font-size: 25px;
    font-weight: 400;
    color: #F28482;
}

.history{
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 75px;
}

.time{
    width: 35px;
    height: auto;
}

.history-h1{
    z-index: 999;
    font-size: 32px;
    padding: 0;
    margin: 0;
}

.container-menubtn{
    display: flex;
    width: 60%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-menu {
    display: flex;
    width: 155px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
}

.link-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 100%;
}
.text-menu{
    padding-left: 10px;
    font-size: 16px;
    text-align: center;
    z-index: 999;
    color: black;
}

.menu-img{
    padding-top: 20px;
    width: 55px;
    height: auto;
}
